/*
    Author: toster234 (toster.dev) <contact@toster.dev>
*/
html {
    height: 100%
}
body {
    padding-top: 80px
}

body {
    position: relative;
	width: 40em;
    margin: 0 auto;
	padding-top: 80px
    padding-bottom: 12rem;
    min-height: 100%;
}

@media (max-width: 380px) {
    body {
        padding-bottom: 15rem;
    }
}

@media (max-width: 280px) {
    body {
        padding-bottom: 20rem;
    }
}

/* ****** */
/* FOOTER */
/* ****** */

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

.footer .pull-right p {
    margin: 0 0 0 0;
    font-size: 80%;
    text-align: right;
}
